name: Codestyle checking

on:
  workflow_call:
  workflow_dispatch:
    
jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'poetry'
      - name: Setup CodeArtifact auth for Poetry
        uses: ./.github/actions/setup-codeartifact-poetry-auth
        with:
          aws-access-key-id: ${{ secrets.AWS_CODEARTIFACT_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_CODEARTIFACT_ACCESS_SECRET }}
          aws-region: us-east-1
          domain: flexcompute
          domain-owner: "625554095313"
      - name: Install black
        run: poetry install
      - name: Run black
        run: poetry run black . --check

  isort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'poetry'
      - name: Setup CodeArtifact auth for Poetry
        uses: ./.github/actions/setup-codeartifact-poetry-auth
        with:
          aws-access-key-id: ${{ secrets.AWS_CODEARTIFACT_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_CODEARTIFACT_ACCESS_SECRET }}
          aws-region: us-east-1
          domain: flexcompute
          domain-owner: "625554095313"
      - name: Install isort
        run: poetry install
      - name: Check isort version
        run: poetry run isort --version 
      - name: Run isort
        run: poetry run isort . --check-only

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'poetry'
      - name: Setup CodeArtifact auth for Poetry
        uses: ./.github/actions/setup-codeartifact-poetry-auth
        with:
          aws-access-key-id: ${{ secrets.AWS_CODEARTIFACT_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_CODEARTIFACT_ACCESS_SECRET }}
          aws-region: us-east-1
          domain: flexcompute
          domain-owner: "625554095313"
      - name: Install dependencies
        run: poetry install
      - name: Run pylint
        run: poetry run pylint $(git ls-files "flow360/*.py") --rcfile .pylintrc
