name: build-docs
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Sphinx
      run: |
        python -m pip install --upgrade pip
        pip install sphinx

    - name: Install numpydoc
      run: |
        pip install numpydoc

    - name: creates output
      working-directory: ./docs
      run:  make html

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build/html/
