name: unit testing

on:
  workflow_dispatch:
  push:
    branches: [ develop, main, release-candidate/* ]
  pull_request:
    branches: [ develop, main, release-candidate/* ]
  workflow_call:

jobs:
  code-style:
    uses: ./.github/workflows/codestyle.yml
  testing:
    needs: code-style
    name: test ${{ matrix.python-version }} - ${{ matrix.platform }}
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11']
        platform: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v4
      with:
        clean: true
    - name: Install poetry
      run: pipx install poetry
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'poetry'
    - name: Clear Poetry cache
      run: |
        poetry cache clear --all pypi
        rm -rf /Users/runner/Library/Caches/pypoetry/virtualenvs
    - name: Install dependencies
      run: poetry install
    - name: Run tests
      run: poetry run pytest -rA
